.round {
  width: calc(100% - 30px); 
  height: 17px;
  border-radius: 8px;
  border: 1px #fff solid;
  padding: 8px 5px 5px 16px; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: var(--Surface-Card, #FFF);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.20);
  background-repeat: no-repeat; 
  background-position: 10px center;
}

.round:focus-visible {
  outline: none;
}

.corner {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: #fff;
}

.search {
  position: relative;
  width: 97%;
  height: 30px;
}

.container {
  padding: 14px;
}

.filter-card {
  margin-top: 10px;
  width: 265px;
  border-radius: 8px;
background: var(--Surface-Card, #FFF);
box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.20);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.text-container {
  margin-left: 10px;
}

.title-text {
  margin: 0;
  font-size: 16px;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  color: #666666;
  font-size: 14px;
}

mat-card-content {
  color: #333;
}

mat-divider {
  margin-left: 0;
  margin-right: 0;
}

mat-card-header,
mat-card-content {
  padding: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
}

mat-chip{
  background-color: #CCE8F6 !important;
}

.right-button {
  margin-left: auto;
  background: #008BD0;
  border-radius: 4px ;
  border: none;
  height: 36px;
  color: #ffffff;
}

.spacer {
  flex-grow: 1;
}

.card-header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: column;
}

mat-card-title,
mat-card-subtitle {
  margin: 0;
}

mat-card-title {
  color: var(--black-087, rgba(0, 0, 0, 0.87));
  font-family: Konnect;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.25px;
}

mat-card-content {
  display: flex;
  padding: 16px;
}

.content-container {
  display: flex;
  width: 100%;
  align-items: center; /* Align items vertically in the center */
}

.product-image {
  width: 80px; /* Adjust size as necessary */
  height: auto;
  margin-right: 16px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.unique-code,
.product-name,
.category {
  margin-bottom: 4px;
}

.order-card {
  margin-top: 15px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.40);
}
