<div class="container">
  <div class="search">
    <input
      #myInput
      type="text"
      name="search"
      class="round-search"
      placeholder="Search orders"
      [(ngModel)]="searchValue"
      (input)="search()"
    />
  </div>

  <div class="filter-container">
    <mat-card class="filter-card">
      <mat-card-content>
        <div class="checkbox-container">
          <mat-checkbox class="example-margin" [checked]="false" color="primary" (change)="applyFilters('sameDay')"></mat-checkbox>
          <div class="text-container">
            <div class="title-text">Same day</div>
            <p class="subtitle">{{ sameDayOrdersCount}} orders, 40 items</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="filter-card">
      <mat-card-content>
        <div class="checkbox-container">
          <mat-checkbox class="example-margin" [checked]="false" color="primary" (change)="applyFilters('nextDay')"></mat-checkbox>
          <div class="text-container">
            <div class="title-text">Next day</div>
            <p class="subtitle">{{ nextDayOrdersCount}} orders, 40 items</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="filter-card">
      <mat-card-content>
        <div class="checkbox-container">
          <mat-checkbox class="example-margin" [checked]="false" color="primary" (change)="applyFilters('nextWeek')"></mat-checkbox>
          <div class="text-container">
            <div class="title-text">Next Week</div>
            <p class="subtitle">{{ nextWeekOrdersCount}} orders, 40 items</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  @for(order of orderList; track order){
  <mat-card class="order-card">
    <mat-card-header>
      <div class="card-header-content">
        <div class="header-left">
          <mat-card-title>{{ order.person_name }}</mat-card-title>
          <mat-card-subtitle
            >Ordered {{ order.ordered_date | date:'dd MMMM YYYY h:mm a' }}</mat-card-subtitle
          >
        </div>
        <div class="header-right">
          <mat-card-title>{{ text }} Shipping</mat-card-title>
          <mat-card-subtitle
            >Last brokered {{ order.delivery_date | date:'dd  MMMM YYYY h:mm a' }}</mat-card-subtitle
          >
        </div>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <div class="content-container">
        <img
          [src]="order.product_image"
          alt="Product Image"
          class="product-image"
        />
        <div class="product-details">
          <div class="unique-code">{{ order.unique_code }}</div>
          <div class="product-name">{{ order.product_ordered }}</div>
          <div class="category">{{ order.size }}</div>
        </div>
        <div class="stock-number">{{ order.stock_count }} pieces in stock</div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions>
      <mat-chip-set aria-label="category-chip">
        <mat-chip>
          <img matChipAvatar src="assets/images/chip.svg" alt="category-chip"/>
          {{ order.product_category }}
        </mat-chip>
      </mat-chip-set>
      
      <span class="spacer"></span>
      <button mat-button color="primary" class="right-button">PACK</button>
    </mat-card-actions>
  </mat-card>
  }
  <div *ngIf="orderList.length === 0">
    <div class="centered-text">No results found.</div>
  </div>
</div>
