.side-nav-title {
  color: #ffffff;
  font-size: 16px;
  padding: 14px;
}

mat-nav-list {
  background-color: #103a4f;
  height: 49px;
}

.rd-sidenav {
  transition: width 250ms ease-in;
  padding: 20px 0;
}
.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  animation: slideInFromLeft 0.3s;
}

.nav-list-item {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50px;
  font-weight: 600;
  padding: 5px 15px;
}

.nav-list-item a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: flex;
  padding: 10px 15px;
  border-radius: 12px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.nav-list-item a:hover {
  background-color: #008bd0;
}
.nav-list-item img {
  margin-right: 18px;
}

.nav-list-item .nav-item-title {
  color: #a8c4d3 !important;
  width: 100%;
  transition: opacity 250ms ease;
}
.active {
  opacity: 1 !important;
}
.active-menu,
.active-item {
  background-color: #e4e9e6;
  font-weight: 600;
}
.active-menu.active-item {
  background-color: orangered;
}

@media (min-width: 360px) and (max-width: 800px) {
  .mat-drawer-inner-container {
    display: none;
  }
}
