<div class="side-nav-menu">
  <mat-nav-list class="side-header">
    <div class="side-nav-title">Munch Concepts</div>
  </mat-nav-list>

  <div>
    <ul class="nav-list">
      @for(item of menu; track item){
      <li class="nav-list-item">
        <a
          [href]="item.Url"
          routerLinkActive="active-menu"
          target="_blank"
          [title]="item.Title"
          [attr.data-id]="item.AdminMenuId"
        >
          <img [src]="'assets/images/' + item.Code + '.svg'" />
          <div class="nav-item-title">
            {{ item.Title }}
          </div>
        </a>
      </li>
      }
    </ul>
  </div>
</div>
